<section class="container">
    <div class="row justify-content-center g-3">
        <div class="col-12 col-lg-7">
            <section class="p-4 rounded-25 border bg-light d-flex flex-column gap-3 align-items-center">
                <div class="founder-header">
                    <div class="founder-avatar">
                        <div class="ratio ratio-1x1" style="width: 120px;">
                            <img src="https://placehold.co/500" alt="avatar"
                                class="object-fit-cover rounded-25 border">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-1 text-center">
                    <h3>Fadi El Jurdi</h3>
                    <small>Founder of Arabia Bridle Path</small>
                    <p class="my-3 text-justify">
                        Fadi, the founder of Arabia Bridle Path, is committed to connecting global business aspirations
                        with the Middle East market. Guided by core values of cultural sensitivity, integrity, and
                        excellence, Fadi has built a consultancy that values ethical practices, open communication, and
                        client-centered approach. His deep regional expertise, combined with a strong network of local
                        partners and business accumen, enables Arabia Bridle Path to deliver tailored, data-driven
                        solutions that empower businesses to thrive across diverse industries, such as media and
                        technology.
                        <br><br>
                        With a mission to be a trusted partner for international companies entering the growing Middle
                        Eastern market, Fadi and the team offer guidance on strategic market entry, operational
                        efficiency, and growth strategies, ensuring clients connect authentically with their target
                        audiences and achieve lasting success.
                    </p>
                </div>
                <div class="founder-footer">
                    <div class="d-flex justify-content-center gap-3">
                        <i class="bi bi-whatsapp"></i>
                        <i class="bi bi-envelope"></i>
                        <i class="bi bi-linkedin"></i>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-8">
            <div class="font-handwriting text-center fs-3 mb-5">Proud to have served the below companies</div>
            <section class="d-flex flex-column gap-3">
                <section>
                    <swiper-container space-between="20" slides-per-view="5" autoplay-delay="1000"
                        autoplay-disable-on-interaction="true">
                        <swiper-slide v-for="node in new Array(12)">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ratio ratio-1x1" style="width: 100px;">
                                    <img src="https://placehold.co/500" alt="client"
                                        class="object-fit-cover rounded-circle">
                                </div>
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </section>
            </section>
        </div>
    </div>
</section>