<!-- <section class="container my-5">
    <div class="row justify-content-center g-3">
        <div class="col-12 col-lg-10">
            <section class="p-4 rounded-25 border bg-light d-flex flex-column gap-3 align-items-center">
                <div class="founder-header">
                    <div class="founder-avatar" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                        <div class="ratio ratio-1x1" style="width: 120px;">
                            <img src="/assets/fadi-img.jpg" alt="avatar" class="object-fit-contain rounded-circle img-border">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 text-center">
                    <h3 data-aos="zoom-in" data-aos-delay="200" data-aos-once="true" class="font-title fs-2 text-j-300">Fadi El Jurdi</h3>
                    <span data-aos="zoom-in" data-aos-delay="300" data-aos-once="true" class="font-handwriting fs-3 text-j-100">Our Founder</span>
                    <p data-aos="zoom-in" data-aos-delay="400" data-aos-once="true" class="my-3 text-center">
                        Fadi, the founder of Jurdi Media Production, is committed to connecting global business aspirations
                        with the Middle East market. Guided by core values of cultural sensitivity, integrity, and
                        excellence, Fadi has built a consultancy that values ethical practices, open communication, and
                        client-centered approach. His deep regional expertise, combined with a strong network of local
                        partners and business accumen, enables Jurdi Media Production to deliver tailored, data-driven
                        solutions that empower businesses to thrive across diverse industries, such as media and
                        technology.
                        <br><br>
                        With a mission to be a trusted partner for international companies entering the growing Middle
                        Eastern market, Fadi and the team offer guidance on strategic market entry, operational
                        efficiency, and growth strategies, ensuring clients connect authentically with their target
                        audiences and achieve lasting success.
                    </p>
                </div>

                <h5 class="font-handwriting text-center fs-3 mb-4 text-j-100">Proud to have served the below companies</h5>

                <div class="w-100" style="overflow-x: hidden !important;">
                    <section class="d-flex justify-content-end align-items-center gap-3">
                        <div class="ticker-item" v-for="node in getImages">
                            <div class="ratio ratio-1x1 rounded" style="width: 120px;">
                                <img :src="node" alt="Image" class="object-fit-contain rounded">
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section> -->

<section class="container-fluid my-5">
    <div class="row g-3 justify-content-center">
        <!-- <div class="col-3">
            <aside>
                <div class="ratio ratio-1x1">
                    <img src="/assets/fadi-img.jpg" alt="img" class="object-fit-contain">
                </div>
            </aside>
            <aside class="h-100 d-flex flex-column align-items-center rounded-25 border p-3 bg-j-light">
                <div class="w-100 d-flex justify-content-center" style="min-height: 60px; border-bottom: 2px solid rgba(128, 128, 128, 0.223); margin-bottom: 60px;">
                    <figure style="margin-bottom: -45px;">
                        <div class="ratio ratio-1x1" style="width: 100px;">
                            <img src="/assets/fadi-img.jpg" alt="avatar" class="object-fit-contain rounded-circle img-border">
                        </div>
                    </figure>
                </div>
                <h3 class="text-j-100 fs-3 font-title">Fadi El Jurdi</h3>
                <strong class="font-handwriting fs-4 text-j-200">Our Founder</strong>
                <p class="text-j-grey text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus adipisci commodi cumque repellat nostrum soluta!</p>
            
            </aside>
        </div> -->
        <div class="col-12">
            <aside class="h-100 bg-j-light border rounded p-3">
                <div class="d-flex gap-2 align-items-center flex-wrap">
                    <figure>
                        <div class="ratio ratio-1x1" style="width: 80px;">
                            <img src="/assets/fadi-img.jpg" alt="avatar"
                                class="object-fit-contain rounded-25 img-border">
                        </div>
                    </figure>
                    <div class="d-flex flex-column gap-1">
                        <h2 class="text-j-100 fs-2 font-title">Fadi El Jurdi</h2>
                        <strong class="font-normal text-j-300">Our Founder</strong>
                    </div>

                    <!-- <img src="/assets/fadi-img.jpg" alt="img" class="img-fluid rounded" width="50"> -->
                    <!-- <h4 class="font-title text-j-300">Our Founder</h4> -->
                </div><br>
                <p class="text-j-100 text-justify">
                    Fadi, the founder of Jurdi Media Production, is committed to connecting global business aspirations
                    with the Middle East market. Guided by core values of cultural sensitivity, integrity, and
                    excellence, Fadi has built a consultancy that values ethical practices, open communication, and
                    client-centered approach. His deep regional expertise, combined with a strong network of local
                    partners and business accumen, enables Jurdi Media Production to deliver tailored, data-driven
                    solutions that empower businesses to thrive across diverse industries, such as media and
                    technology. <span class="text-j-300" data-bs-toggle="collapse" href="#founder-collapse" role="button" aria-expanded="false" aria-controls="collapseWidthExample">more...</span>
                    <p class="collapse" id="founder-collapse">
                        <br>
                        With a mission to be a trusted partner for international companies entering the growing Middle
                        Eastern market, Fadi and the team offer guidance on strategic market entry, operational
                        efficiency, and growth strategies, ensuring clients connect authentically with their target
                        audiences and achieve lasting success.
                    </p>
                </p>
                <br>
                <strong class="font-title text-j-300 fs-4">Proud to have served the below companies</strong>
                <br>
                <div class="w-100" style="overflow-x: hidden !important;">
                    <section class="d-flex justify-content-end align-items-center gap-3">
                        <div class="ticker-item" v-for="node in getImages">
                            <div class="ratio ratio-1x1 rounded border rounded" style="width: 120px;">
                                <img :src="node" alt="Image" class="object-fit-contain rounded">
                            </div>
                        </div>
                    </section>
                </div>
            </aside>
        </div>
    </div>
</section>