<section class="py-5">
    <div class="container-fluid bg-j-dark d-flex align-items-center justify-content-center" style="height: 60vh;">
        <div class="row justify-content-center align-items-center g-3">
            <div class="col-12">
                <div class="d-flex flex-column gap-5">
                    <div class="">
                        <div data-aos="zoom-in" data-aos-delay="100" data-aos-once="true" class="d-flex justify-content-center mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-stars text-j-400" viewBox="0 0 16 16">
                                <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                            </svg>
                        </div>
                        <h3 data-aos="zoom-in" data-aos-delay="200" data-aos-once="true" class="text-center">
                            <span class="font-handwriting text-j-400 fs-1">Our Three Core Values</span>
                        </h3>
                        <p data-aos="zoom-in" data-aos-delay="300" data-aos-once="true" class="font-normal text-j-light fs-small text-center ls-1">
                            At Jurdi Production Media Consultants,
                            business follows values. No compromising.
                        </p>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <h5 data-aos="zoom-in" data-aos-delay="400" data-aos-once="true"><span class="text-j-200">1. </span><span class="text-j-grey">Dedication - All In, Every Time.</span></h5>
                        <h5 data-aos="zoom-in" data-aos-delay="500" data-aos-once="true" class="text-center"><span class="text-j-300">2. </span><span class="text-j-grey">Commitment - We See It Through.</span></h5>
                        <h5 data-aos="zoom-in" data-aos-delay="600" data-aos-once="true" class="text-end"><span class="text-j-400">3. </span><span class="text-j-grey">Integrity - Your Trust, Our Promise.</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>