<section class="p-3 pb-lg-5 mb-lg-5">
    <div class="d-none d-lg-block container-fluid bg-banner rounded p-2 position-relative">
        <div class="container-fluid banner-body">
            <div class="row align-items-center g-5">
                <div class="col-12 col-lg-4">
                    <aside class="px-3 py-5 rounded text-center bg-j-primary d-flex flex-column align-items-center gap-2">
                        <div class="img-frame rounded-15 bg-light"><img src="/assets/logo.png" alt="Jurdi Logo" class="img-fluid" width="50"></div>
                        <h5 class="font-title fs-5">Our Three Core Values</h5>
                        <p class="font-normal fs-small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsam, modi veniam dolores harum et architecto exercitationem neque asperiores autem deleniti, magni eligendi quo nemo cupiditate incidunt, voluptas nostrum facilis quisquam adipisci? Tempore vero, quo fugit culpa, iste est omnis illum autem odit cumque tenetur voluptates possimus, repellat officia ut!</p>
                        
                    </aside>
                </div>
                <aside class="col">
                    <div class="row justify-content-start g-2"> 
                        <div class="col-12 col-lg-4">
                            <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                                <span class="material-symbols-outlined-none fs-1">handshake</span>
                                <h5 class="font-title fs-5 text-uppercase">Dedication</h5>
                                <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                            </aside>
                        </div>
                        <div class="col-12 col-lg-4">
                            <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                                <span class="material-symbols-outlined-none fs-1">policy</span>
                                <h5 class="font-title fs-5 text-uppercase">Transparency</h5>
                                <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                            </aside>
                        </div>
                        <div class="col-12 col-lg-4">
                            <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                                <span class="material-symbols-outlined-none fs-1">acute</span>
                                <h5 class="font-title fs-5 text-uppercase">Integrity</h5>
                                <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                            </aside>
                        </div>
                        <!-- <div class="col-12 col-lg-3">
                            <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                                <span class="material-symbols-outlined-none fs-1">star</span>
                                <h5 class="font-title fs-5 text-uppercase">Integrity</h5>
                                <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                            </aside>
                        </div> -->
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="container-fluid d-block d-lg-none">
        <div class="row align-items-center g-5">
            <div class="col-12 col-lg-4">
                <aside class="px-3 py-5 rounded text-center bg-j-primary d-flex flex-column align-items-center gap-2">
                    <div class="img-frame rounded-15 bg-light"><img src="/assets/logo.png" alt="Jurdi Logo" class="img-fluid" width="50"></div>
                    <h5 class="font-title fs-5">Our Three Core Values</h5>
                    <p class="font-normal fs-small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsam, modi veniam dolores harum et architecto exercitationem neque asperiores autem deleniti, magni eligendi quo nemo cupiditate incidunt, voluptas nostrum facilis quisquam adipisci? Tempore vero, quo fugit culpa, iste est omnis illum autem odit cumque tenetur voluptates possimus, repellat officia ut!</p>
                    
                </aside>
            </div>
            <aside class="col">
                <div class="row justify-content-start g-2"> 
                    <div class="col-12 col-lg-4">
                        <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                            <span class="material-symbols-outlined-none fs-1">handshake</span>
                            <h5 class="font-title fs-5 text-uppercase">Dedication</h5>
                            <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                        </aside>
                    </div>
                    <div class="col-12 col-lg-4">
                        <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                            <span class="material-symbols-outlined-none fs-1">policy</span>
                            <h5 class="font-title fs-5 text-uppercase">Transparency</h5>
                            <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                        </aside>
                    </div>
                    <div class="col-12 col-lg-4">
                        <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                            <span class="material-symbols-outlined-none fs-1">acute</span>
                            <h5 class="font-title fs-5 text-uppercase">Integrity</h5>
                            <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                        </aside>
                    </div>
                    <!-- <div class="col-12 col-lg-3">
                        <aside class="px-2 py-5 rounded-15 text-center bg-j-light d-flex flex-column gap-3">
                            <span class="material-symbols-outlined-none fs-1">star</span>
                            <h5 class="font-title fs-5 text-uppercase">Integrity</h5>
                            <p class="font-normal fs-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste dolorum commodi velit obcaecati omnis?</p>
                        </aside>
                    </div> -->
                </div>
            </aside>
        </div>
    </div>

</section>