<div class="p-2 shadow-sm rounded d-flex gap-3 justify-content-between align-items-center bg-j-light">
    <div class="d-flex gap-2 align-items-center">
        <figure class="h-100 ratio ratio-1x1 border" style="width: 50px;">
            <img src="https://placehold.co/100" alt="logo" aria-label="logo" class="object-fit-cover">
        </figure>
        <div>
            <h1 class="fs-5 text-j-100 font-title"  aria-label="Arabia Bridle Path" >{{store.brandname}}</h1>
            <p class="text-j-grey fs-x-small font-normal text-fade">Navigating the legal landscape of the digital age.</p>
        </div>
    </div>
    <div>
        <div data-bs-toggle="dropdown" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots-vertical text-j-100" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
            </svg>
        </div>
        <ul class="dropdown-menu font-normal bg-light fs-small">
            <li><a aria-label="home page"  class="dropdown-item" href="/">Home page</a></li>
            <li><a aria-label="services"  class="dropdown-item" href="/services">Services</a></li>
            <li><a aria-label="blogs"  class="dropdown-item" href="/blogs">News & Insights</a></li>
            <li><a aria-label="privacy and terms"  class="dropdown-item" href="/privacy-and-terms-of-use">Privacy and Terms of use</a></li>
            <li><a aria-label="contact"  class="dropdown-item" href="/contact">Contact</a></li>
        </ul>
    </div>
</div>