<section class="p-3" style="margin-top: 60px;">
    <section id="hero" class="container-fluid rounded bg-heroic p-3">
        <div class="row align-items-end justify-content-between">
            <div class="col-12 col-md-8 col-lg-6">
                <aside class="d-flex flex-column justify-content-start justify-content-lg-center gap-2 text-light" style="height: 50vh;">
                    <div data-aos="zoom-in-up" data-aos-duration="1000"   class="img-frame rounded-15 bg-glass"><img src="/assets/logo.png" alt="Jurdi Logo" class="img-fluid" width="50"></div>
                    <h1 data-aos="zoom-in-right" data-aos-duration="1000"  class="font-title fs-4">Jurdi Media Production Consultants</h1>
                    <p data-aos="zoom-out" data-aos-duration="1500"  class="font-normal fs-small text-justify">A media consultancy firm that provides personalized media consultancy services to international businesses involved in business ventures in the Middle East, North Africa and Turkey media sector</p>
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center gap-2 fs-smaller">
                            <!-- <span class="col-12 col-lg-4 bg-glass-dark px-3 py-1 rounded font-normal d-flex justify-content-lg-center align-items-center gap-2">
                                <span class="material-symbols-outlined-none">video_call</span>
                                <span>Schedule a Meeting</span>
                            </span> -->
                            <a href="/contact/" class="col-12 col-lg-4 bg-glass-dark px-3 py-1 rounded font-normal d-flex justify-content-lg-center align-items-center gap-2">
                                <span class="material-symbols-outlined-none">send</span>
                                <span>Send a Message</span>
                            </a>
                            <!-- <span @click="applyBackground()"  class="col-12 col-lg-4 bg-glass-dark px-3 py-1 rounded font-normal d-flex justify-content-lg-center align-items-center gap-2">
                                <span class="material-symbols-outlined-none">upload</span>
                                <span>Upload background</span>
                            </span> -->
                        </div>
                    </div>
                </aside>
            </div>
            <div class="d-none d-md-block col-1">
                <aside class="d-flex flex-column align-items-end gap-2 text-light">
                    <span role="button" @click="utilities.shareBy(location.pathname,location.href)" title="Share this page." class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-share"></i></span>
                    <a :href="store.contact.whatsapp"><span role="button" class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-whatsapp"></i></span></a>
                    <a :href="store.contact.linkedIn"><span role="button" class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-linkedin"></i></span></a>
                    <a :href="store.contact.instagram"><span role="button" class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-instagram"></i></span></a>
                    <a :href="'mailto:'+store.contact.email"><span role="button" class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-envelope"></i></span></a>
                    <!-- <span @click="applyBackground()" role="button" class="bg-glass px-2 py-1 rounded font-normal"><i class="bi bi-upload"></i></span> -->
                    
                    <!-- <div class="dropup dropup-center">
                        <span role="button" data-bs-toggle="dropdown" class="dropdown-toggle bg-glass px-3 py-1 rounded font-normal d-flex align-items-center justify-content-between gap-1">
                            <span title="Connect with us on social media platforms." >Social Media</span>
                            <ul class="dropdown-menu bg-glass">
                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i class="bi bi-envelope"></i> Email</a></li>
                            </ul>
                        </span>
                    </div> -->

                </aside>
            </div>
        </div>

    </section>
</section>